* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.home-header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/campus2.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-header nav {
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.home-header img {
  width: 100px;
}

.home-header ul {
  display: flex;
  gap: 35px;
}

.home-header .navs {
  margin-left: auto;
  padding-right: 40px;
}

.home-header ul li {
  list-style-type: none;
}

.home-header ul li .nav-link {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  transition: color 0.5s;
}

.home-header ul li .nav-link:hover {
  color: #58d68d;
}

.home-header .navs ul li .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #58d68d;
  display: block;
  transition: 0.5s;
}

.home-header .navs ul li .nav-link:hover::after {
  width: 100%;
}

.home-header .fa-solid {
  display: none;
}

.home-header .about-title {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.home-header .about-title h1 {
  font-size: 45px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-header ul li .active {
  color: #58d68d;
}

@media screen and (max-width: 790px) {
  body {
    overflow-x: hidden;
  }

  .home-header nav {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
  }

  .home-header ul {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #58d68d;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: -100%;
    right: 0%;
    text-align: left;
    z-index: 1000;
    transition: top 0.5s;
  }

  .home-header .fa-solid {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }

  .home-header .fa-xmark {
    position: absolute;
    top: 57px;
    right: 60px;
    font-size: 35px;
  }

  .home-header .fa-bars {
    font-size: 30px;
  }

  .home-header ul li .nav-link:hover {
    color: gray;
  }

  .home-header .navs ul li .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: gray;
    display: block;
    transition: 0.5s;
  }

  .home-header .navs ul li .nav-link:hover::after {
    width: 25%;
  }

  .home-header ul li .active {
    color: gray;
  }
}

@media screen and (max-width: 400px) {
  .home-header img {
    width: 70px;
  }
}

/* header section design end */

/* about body design start */

.about-body {
  width: 100%;
  margin-top: 70px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about-body .about-text {
  width: 85%;
  margin: 0 auto;
  padding: 50px 10px;
}

.about-body .about-text p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: justify;
}

/* about body design end */

/* about main design start */

.about-main {
  width: 100%;
  margin-top: 100px;
}
.about-main-body {
  width: 80%;
  margin: 0 auto;
}

.about-main-body .about-content {
  padding: 20px 0;
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  border-bottom: 1px solid gray;
}

.about-main-body .no-border {
  border-bottom: none;
}

.about-main-body .about-content img {
  width: 100%;
  height: 80%;
}

.about-main-body .about-content #campus-img {
  height: 100%;
  padding-bottom: 30px;
}

.about-main-body .about-content p {
  text-align: justify;
}

.about-main-body .about-content h3 {
  font-size: 25px;
  font-weight: 600;
}

/* about main design end */

/* footer design start */

.footer {
  width: 100%;
  margin-top: 120px;
  background-color: #2a2b2c;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.footer .footer-body {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;
}

.footer .footer-body article {
  padding: 10px;
}

.footer .footer-body .links h4 {
  margin-bottom: 10px;
}

.footer .footer-body .links a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  padding: 8px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}

.footer .footer-body .links a:hover {
  margin-left: 7px;
}

.footer .footer-body .contact-info h4 {
  margin-bottom: 10px;
}

.footer .footer-body .contact-info p {
  font-size: 16px;
  padding-top: 8px;
  font-weight: 600;
}

.footer .footer-body .socials {
  text-align: center;
}

.footer .footer-body .socials i {
  font-size: 40px;
  margin-top: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: #d0d3d4;
  transition: 0.5s;
}

.footer .footer-body .socials i:hover {
  color: white;
  font-size: 45px;
}

.footer small {
  vertical-align: bottom;
}

/* footer design end */

/* media query start */

@media screen and (max-width: 900px) {
  .footer .footer-body {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
  }

  .cources .cources-body {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .footer .footer-body {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }

  .footer .footer-body .socials {
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cources .cources-body {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    text-align: left;
  }

  .footer .footer-body .socials {
    padding: 0px;
  }
  .footer .footer-body .socials i {
    font-size: 30px;
    margin-top: 10px;
    padding: 0 10px;
    cursor: pointer;
    color: #d0d3d4;
    transition: 0.5s;
  }
}

@media screen and (max-width: 500px) {
  .home-header .fa-xmark {
    right: 40px;
  }

  .home-header .cources-title h1 {
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 400px) {
  .home-header ul li .nav-link {
    font-size: 13px;
  }

  .home-header .fa-xmark {
    right: 40px;
    font-size: 25px;
  }

  .home-header .cources-title h1 {
    font-size: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .cources h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px 30px;
  }

  .footer .footer-body {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 330px) {
  .header-text h1 {
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px;
  }

  .header-text .btn {
    color: #fff;
    border: 1px solid white;
    padding: 5px 8px;
    margin-top: 10px;
    transition: all 0.5s;
  }

  body h2 {
    font-size: 20px;
  }

  body p {
    font-size: 10px;
  }
}

/* media query end */
