* {
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
}

/* navbar design start =====>>>>> */

.navbar {
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 30px;
  margin: auto 0;
  background-color: #7e7775;
}

.navbar .nav {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 10px;
  padding-top: 20px;
}

.navbar .nav-left img {
  width: 100px;
  margin-left: 20px;
}

.navbar .nav-right {
  margin-left: auto;
}

.navbar .nav-right ul {
  display: flex;
  gap: 20px;
}

.navbar .nav-right ul li {
  list-style-type: none;
  padding: 30px 10px;
}

.navbar .nav-right .fa-solid {
  display: none;
  color: transparent;
}

.navbar .nav-right ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: all 0.5s;
  font-weight: 700;
}

.navbar .nav-right ul li a:hover {
  color: #7e7775;
}

/* navbar design end =====>>>>> */

@media screen and (max-width: 950px) {
  .navbar .nav {
    width: 100%;
  }

  .navbar .nav-right {
    margin-right: 20px;
  }
}

@media screen and (max-width: 780px) {
  .navbar .nav {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
  }

  .navbar .nav-right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #abb2b9;
    position: fixed;
    right: -50%;
    top: 0;
    width: 50%;
    padding: 80px 0 10px 0;
    transition: all 0.5s;
  }

  .navbar .nav-right ul li {
    padding: 20px 10px;
    text-align: center;
  }

  .navbar .nav-right ul li .fa-xmark {
    display: inline-block;
    font-size: 35px;
    position: absolute;
    top: 30px;
    right: 50px;
    color: black;
    cursor: pointer;
  }

  .navbar .nav-right .fa-bars {
    display: inline-block;
    font-size: 35px;
    position: absolute;
    top: 60px;
    right: 70px;
    color: black;
    cursor: pointer;
  }
}
