* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.home-header {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/ab.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-header nav {
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
}

.home-header img {
  width: 100px;
}

.home-header ul {
  display: flex;
  gap: 35px;
}

.home-header .navs {
  margin-left: auto;
  padding-right: 40px;
}

.home-header ul li {
  list-style-type: none;
}

.home-header ul li .nav-link {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  transition: color 0.5s;
}

.home-header ul li .nav-link:hover {
  color: #58d68d;
}

.home-header .navs ul li .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #58d68d;
  display: block;
  transition: 0.5s;
}

.home-header .navs ul li .nav-link:hover::after {
  width: 100%;
}

.home-header .fa-solid {
  display: none;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin-top: 40px;
  text-align: center;
}

.header-text h1 {
  text-transform: capitalize;
  color: white;
  text-align: center;
  font-size: 45px;
  padding: 15px;
}

.header-text p {
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
}

.header-text .btn {
  color: #fff;
  border: 1px solid white;
  padding: 10px 15px;
  margin-top: 10px;
  transition: all 0.5s;
}

.header-text .btn:hover {
  border: 1px solid #58d68d;
  background-color: #459064;
  color: #fff;
}

.home-header ul li .active {
  color: #58d68d;
}

@media screen and (max-width: 900px) {
  .header-text h1 {
    font-size: 30px;
  }

  .header-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 790px) {
  body {
    overflow-x: hidden;
  }

  .home-header nav {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
  }

  .header-text h1 {
    font-size: 25px;
    padding: 10px;
    letter-spacing: 1px;
  }

  .header-text p {
    font-size: 13px;
    line-height: 1.7;
  }

  .home-header ul {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #58d68d;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: -100%;
    right: 0%;
    text-align: left;
    z-index: 1000;
    transition: top 0.5s;
  }

  .home-header .fa-solid {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }

  .home-header .fa-xmark {
    position: absolute;
    top: 57px;
    right: 60px;
    font-size: 35px;
  }

  .home-header .fa-bars {
    font-size: 30px;
  }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }

  .home-header ul li .nav-link:hover {
    color: gray;
  }

  .home-header .navs ul li .nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: gray;
    display: block;
    transition: 0.5s;
  }

  .home-header .navs ul li .nav-link:hover::after {
    width: 25%;
  }

  .home-header ul li .active {
    color: gray;
  }
}

@media screen and (max-width: 400px) {
  .home-header img {
    width: 70px;
  }

  .header-text .btn {
    color: #fff;
    border: 1px solid white;
    padding: 5px 10px;
    margin-top: 10px;
    transition: all 0.5s;
  }
}

/* header section design end */

/* topic section design start */

.home-topics {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.home-topics h2 {
  font-weight: 600;
}

.home-topics .home-topics-body {
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.home-topics .home-topics-body article {
  border: 1px solid #97e4b7;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.7s;
}

.home-topics .home-topics-body article .fa-solid {
  font-size: 45px;
  padding: 10px;
  padding-top: 15px;
}

.home-topics .home-topics-body article h4 {
  font-weight: 600;
}

.home-topics .home-topics-body article p {
  font-weight: 600;
}

.home-topics .home-topics-body article:hover {
  background-color: #58d68d;
  color: #fff;
}

/* topic section design end */

/* principle message design start */

.home-principle {
  width: 100%;
  margin-top: 150px;
  text-align: center;
}

.home-principle h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.home-principle .home-principle-body {
  width: 80%;
  margin: 40px auto 0;
  padding: 50px;
  display: flex;
  gap: 30px;
  background-color: rgba(189, 186, 186, 0.3);
  border-radius: 10px;
  transition: all 0.5s;
}

.home-principle .home-principle-body img {
  width: 300px;
  height: 300px;
  flex-basis: 35%;
}

.home-principle .home-principle-body div {
  text-align: left;
  flex-basis: 60%;
}

.home-principle .home-principle-body div h4 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #273746;
}

.home-principle .home-principle-body div p {
  line-height: 1.6;
  text-align: justify;
  font-weight: 500;
}

.home-principle .home-principle-body:hover {
  background-color: rgba(189, 186, 186, 0.5);
}

/* principle message design end */

/* cources section design start */

.home-cources {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  padding: 20px 0;
}

.home-cources h2 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}

.home-cources .home-cources-body {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  text-align: left;
}

.home-cources .home-cources-body .home-cource {
  padding: 25px;
  text-align: center;
  background-color: #eaecee;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.home-cources .home-cources-body .home-cource:hover {
  background-color: #d5d8dc;
  box-shadow: 5px 5px 10px gray;
}

.home-cources .home-cources-body .home-cource h3 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-cources .home-cources-body .home-cource p {
  text-align: justify;
  padding: 10px 5px;
  font-weight: 500;
}

.home-cources .home-cources-body .home-cource a {
  text-align: center;
  text-decoration: none;
  padding: 8px 15px;
  color: black;
  border: 1px solid #58d68d;
  transition: all 0.4s;
  border-radius: 5px;
}

.home-cources .home-cources-body .home-cource a:hover {
  background-color: #58d68d;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .home-cources .home-cources-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 530px) {
  .home-cources .home-cources-body {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

/* cources section design end */

/* campus section design start */

.home-campus {
  width: 100%;
  margin-top: 140px;
  text-align: center;
  padding: 30px 0;
}

.home-campus h2 {
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 600;
}

.home-campus .home-campus-body {
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.home-campus .home-campus-body article {
  position: relative;
  cursor: grab;
  height: 350px;
}

.home-campus .home-campus-body article h3 {
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  bottom: 15%;
  left: 27%;
  opacity: 0;
  transition: bottom 0.5s;
}

.home-campus .home-campus-body img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}

.home-campus .home-campus-body article:hover h3 {
  position: absolute;
  bottom: 50%;
  left: 27%;
  opacity: 1;
}

.home-campus .home-campus-body article:hover img {
  opacity: 0.5;
}

/* campus section design end */

/* students review design start */

.home-student-review {
  width: 100%;
  text-align: center;
  margin-top: 150px;
  padding: 50px 0;
  margin-bottom: 100px;
}

.home-student-review h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.home-student-review .home-student-review-body {
  width: 100%;
}

.home-student-review .home-student-review-body article {
  margin: 50px 0;
  padding: 0px 30px;
}

.home-student-review .home-student-review-body article img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 15px;
  padding: 10px;
}

.home-student-review .home-student-review-body article h5 {
  font-weight: 600;
  text-align: center;
  padding: 0 0 10px;
}

.home-student-review .home-student-review-body article p {
  font-weight: 500;
  text-align: center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* students review design end */

/* contact design start */
.home-contact {
  width: 100%;
  margin-top: 140px;
  text-align: center;
}

.home-contact .home-contact-body {
  width: 80%;
  height: 350px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)),
    url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.home-contact .home-contact-body h4 {
  color: #fff;
  line-height: 1.8;
  padding: 15px;
}

.home-contact .home-contact-body a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid white;
  margin: 0 auto;
  border-radius: 3px;
  transition: all 0.5s;
  font-weight: 600;
}

.home-contact .home-contact-body a:hover {
  background-color: #58d68d;
  border: 1px solid #58d68d;
}

/* contact design end */

/* footer design start */

.footer {
  width: 100%;
  margin-top: 120px;
  background-color: #2a2b2c;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.footer .footer-body {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: left;
}

.footer .footer-body article {
  padding: 10px;
}

.footer .footer-body .links h4 {
  margin-bottom: 10px;
}

.footer .footer-body .links a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  padding: 8px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}

.footer .footer-body .links a:hover {
  margin-left: 7px;
}

.footer .footer-body .contact-info h4 {
  margin-bottom: 10px;
}

.footer .footer-body .contact-info p {
  font-size: 16px;
  padding-top: 8px;
  font-weight: 600;
}

.footer .footer-body .socials {
  text-align: center;
}

.footer .footer-body .socials i {
  font-size: 40px;
  margin-top: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: #d0d3d4;
  transition: 0.5s;
}

.footer .footer-body .socials i:hover {
  color: white;
  font-size: 45px;
}

.footer small {
  vertical-align: bottom;
}

/* footer design end */

/* media query start */

@media screen and (max-width: 900px) {
  .home-topics .home-topics-body {
    width: 90%;
  }

  .home-campus .home-campus-body {
    width: 95%;
  }

  .footer .footer-body {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
  }
}

@media screen and (max-width: 750px) {
  .home-campus .home-campus-body {
    width: 95%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .home-principle .home-principle-body {
    flex-direction: column;
  }

  .home-principle .home-principle-body img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .footer .footer-body {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }

  .footer .footer-body .socials {
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .home-topics .home-topics-body {
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  .header-text .btn {
    color: #fff;
    border: 1px solid white;
    padding: 7px 10px;
    margin-top: 10px;
    transition: all 0.5s;
  }

  .home-campus .home-campus-body article h3 {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 15%;
    left: 25%;
    opacity: 0;
    transition: bottom 0.5s;
  }

  .home-student-review h2 {
    font-weight: 600;
    margin-bottom: 0px;
  }

  .home-contact .home-contact-body h4 {
    color: #fff;
    line-height: 1.8;
    font-size: 17px;
    padding: 15px;
  }

  .home-contact .home-contact-body a {
    padding: 7px 10px;
    font-weight: 500;
  }

  .footer .footer-body .socials {
    padding: 0px;
  }
  .footer .footer-body .socials i {
    font-size: 30px;
    margin-top: 10px;
    padding: 0 10px;
    cursor: pointer;
    color: #d0d3d4;
    transition: 0.5s;
  }
}

@media screen and (max-width: 500px) {
  .home-header .fa-xmark {
    right: 40px;
  }

  .home-topics .home-topics-body {
    width: 96%;
  }

  .home-principle .home-principle-body img {
    height: 250px;
    width: 250px;
  }

  .home-campus .home-campus-body {
    padding: 5px;
    gap: 15px;
  }

  .home-campus .home-campus-body img {
    width: 90%;
    height: 85%;
  }

  .home-contact .home-contact-body h4 {
    color: #fff;
    line-height: 1.8;
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .home-campus .home-campus-body {
    width: 95%;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .home-principle .home-principle-body img {
    height: 150px;
    width: 150px;
  }

  .home-header ul li .nav-link {
    font-size: 13px;
  }

  .home-header .fa-xmark {
    right: 40px;
    font-size: 25px;
  }

  .footer .footer-body {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 330px) {
  .header-text h1 {
    text-transform: capitalize;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px;
  }

  .header-text .btn {
    color: #fff;
    border: 1px solid white;
    padding: 5px 8px;
    margin-top: 10px;
    transition: all 0.5s;
  }
  .home-topics .home-topics-body {
    grid-template-columns: 1fr;
  }

  body h2 {
    font-size: 20px;
  }

  body p {
    font-size: 10px;
  }

  .home-cources h2 {
    font-size: 23px;
  }
}

/* media query end */
